/* rip sponsorship trash */
#twig-top {
    display: none;
}

#twig-navbar,
.twig-body,
.twig-body .topbar,
.twig-body .hamburger .hb-nav,
.twig-body .hamburger .hb-trigger {
    top: unset;
}

.twig-body,
.twig-navbar {
    margin-top: unset !important;
}

.sponsor-dyn-banner {
    display: none;
}

/* rip shitty devices tags */
.tagbar {
    display: none;
}

.navbits {
    top: unset;
}

/* fix topbar width */
.topbar {
    width: 100%;
}

/* there's already search field on the right... */
#showthread-topsearch {
    display: none;
}

/* this is kinda useless */
.title-container {
    display: none;
}

/* bit more usable .page-index margin-top */
.page-index {
    margin-top: 20px;
}

/* bit more usable #sidepanel margin-top */
#sidepanel {
    margin-top: 29px;
}

/* that looks bit better */
#forum-bottom {
    margin-top: 15px;
}

/* 2px top here makes the report icon look misaligned */
A.post-button-left I {
    top: unset;
}

/* uniform tab controls padding */
#top_tabControls a {
    min-width: unset !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* Fix empty 'RECENT' background color */
#topthanked_nav_container {
    background-color: #3A3A3A !important;
}

/* make 'ALL TIME' button look bit better /w dark theme */
#topthanked_nav_top {
    text-align: center;
    text-indent: unset;
}

.topthanked_nav:not(.topthanked_selected):not(:hover) {
    background-color: #3A3A3A !important;
    color: #757575 !important;
}

/* make current selected forum bg/text bit better /w dark theme */
.sibling-forum-listing UL LI.current {
    background-color: #3A3A3A !important;
}

.sibling-forum-listing UL LI.current a {
    color: #eee;
}

/* why do we need to set margin left here? */
.topRankedThreadsForumdisplay {
    margin-left: unset;
}

/* why is this even a thing? */
#tabControl_loading {
    display: none !important;
}

/* same */
.leaderboard {
    display: none;
}
